<title> Rabindranath Tagore </title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <div id="main">
        <h2 id="title">
            SHUTTER ISLAND(2010)
        </h2>
        <p id="sub-title"> One of the most underrated movies ever. Psychological thriller doesn't get better than this
        </p>
        <div id="img-div">
            <img id="image" src="/assets/siposter.jpg" alt="Shutter island poster">
            <figcaption id="img-caption">
                <p>Shutter Island Theatrical Release Poster featuring Leonardo DiCaprio</p>
            </figcaption>
            </br>
            </br>
        </div>
        <section id="tribute-info">
            <h2 class="headline">
                About Shutter Island
            </h2>
            <ul>
                <li>
                    <p><strong> Released:</strong> February 19, 2010 (United States)</p>
                </li>
                <li>
                    <p><strong>Key Cast:</strong> Leonardo DiCaprio,Mark Ruffalo and Ben Kingsley</p>
                </li>
                <li>
                    <p><strong>Distributed by:</strong>Paramount Pictures</p>
                </li>
                <li>
                    <p><strong>Directed by:</strong>Martin Scorsese
                    <p>
                </li>
                <li>
                    <p><strong>Based on:</strong> Shutter Island by Dennis Lehane</p>
                </li>
                <li>
                    <p><strong>Running time:</strong> 139 minutes</p>
                </li>

            </ul>
            <p id="detail-para">With Shutter Island and Inception being released the same year i don't think think any
                actor
                has such an outstanding movie year like Leonaro DiCaprio had in 2010. They are two of the best films i
                have ever seen,
                but yet Inception is recognized much more than inception which rattles me a bit. Inception as good as it
                was did not quite
                thrill me the way shutter island did. Shutter island got me having thoughts i have never had before. Its
                a movie that gets you as deep
                as you can get into the world psychological thriller. To be honest the first time i watched shutter
                island i was pissed. I considered it a
                crappy movie and thought "what a pointless movie". Yet somehow i found myself rewatching it a few hours
                later, it was when i watched it a second
                time i started to appreciate it more, i began to see things i didn't notice on the first watch
                especially the ending scene. The ending scene that was so annoying
                on the first watch now ranks high in my list of best movie endings ever. Fast forward to a week after
                and i had probably watched the movie 7 times and
                spent a lot of time on youtube watching videos on the top theories about the movie. Shutter island
                delievers in all the things you sign up
                for when you decide to watch a thriller: thought provoking,thrilling, and leaves you having uneasy
                feelings. Shutter Island is a great watch and leaves you
                with better understanding of people struggling with such prblems. It is nothing short of a masterpiece
                by director Martin scorsese. He took on the challenge of
                adapting a book that wasn't even very popular,made it a masterpiece and thrived in the box office.
                </br></br>

                So here comes the end of this spoiler free tribute. Thank you Martin scorsese and my favorite actor
                DiCaprio for making
                this fine addition to the movie hall fame. I would also recomment knives out(2019) and Murder on the
                orient express(2017)</br> </br>

        </section>
    </div>
</body>

</html>